sub-header
  .flex-space-between.flex-vertical-centered
    .left
      button.btn.btn-primary(ui-sref="chat.channels-views")
        i.mdi.mdi-close
    .right
      button.btn.btn-primary(ng-click='vm.addChannel()')
        | #{__('Create')}
        i.mdi.mdi-check
.block-header.visible-md
  h2 #{__('Create a new channel')}
.channel-add-form.configuration.card
  form(name='addChannelForm', ng-submit="vm.addChannel()")
    .form-group.fg-line
      .field-name #{__('Name')}
      input.form-control(ng-model="vm.channel.name", placeholder="#{__('Enter the channel name')}", auto-focus, required)
    .form-group.fg-line
      .field-name #{__('Topic')}
      input.form-control(ng-model="vm.channel.topic", placeholder="#{__('Add topic')}")
    .form-group.fg-line
      .field-name #{__('Purpose')}
      input.form-control(ng-model="vm.channel.purpose", placeholder="#{__('Add purpose')}")
    .button-bar.actions.hidden-xs.flex-end
      input.btn.btn-default(type="button", value="#{__('Cancel')}", ui-sref="chat.channels-views")
      input.btn.btn-primary(type="submit", value="#{__('Create')}", ng-disabled="addChannelForm.$invalid")
