sub-header
  chat-conversation-create-subheader(create="ctrl.create()", form="createDirectmessageForm")

.block-header.visible-md
  h2 #{__('Create a new direct conversation')}
.chat-conversation-create.configuration.card
  form(name='createDirectmessageForm', esn-submit="ctrl.create()")
    .form-group.fg-line
      .row
        users-autocomplete-input(
          original-users='ctrl.members',
          mutable-users='ctrl.members',
          propagate-enter-event='true',
          add-from-autocomplete-only='true'
        )
