li.action-list-item.hidden-xs(ng-click='ctrl.toggleDisplay()')
  .show-text(ng-if='!ctrl.informationShown') #{__('Show information')}
  .hide-text(ng-if='ctrl.informationShown') #{__('Hide information')}
li.action-list-item.hidden-md(title=__('Show information'), contextual-sidebar, data-content-template="/chat/app/conversation/sidebar/summary/conversation-summary-mobile-provider.html", data-placement="right")
  .show-text(ng-if='!ctrl.informationShown') #{__('Show information')}
  .hide-text(ng-if='ctrl.informationShown') #{__('Hide information')}
