.chat-conversation-beginning
  esn-avatar-list(members="ctrl.members", limit='5', ng-if="ctrl.conversation.type === ctrl.type.CONFIDENTIAL")
  .title(ng-switch="ctrl.conversation.type")
    h4(ng-switch-when="confidential") #{__('This is the beginning of the conversation with')}
      span(ng-repeat="member in ctrl.members |orderBy:'-member.memberName' ", ui-sref="profile({user_id: member.id})") 
        span.name-seperator(ng-if="!$first && !$last") ,
        span.name-seperator(ng-if="!$first && $last") #{__('and')}
        span.name.clickable{{member.memberName}}
    h4(ng-switch-when="open") #{__('Beginning of')}
      span.space-separator(ng-bind-html="ctrl.name | esnEmoticonify:{ class: 'label-emoji' }")
    h5  
      span #{__('created on')} {{::ctrl.conversation.timestamps.creation | amDateFormat:'MMMM Do YYYY'}}
      span.space-separator(ng-if="ctrl.creator") #{__('by')} 
      span.name.capitalize.clickable(ng-bind-html="ctrl.creator",ui-sref="profile({user_id: ctrl.conversation.creator})") 
