.chat-conversation-beginning
.title(ng-switch="ctrl.conversation.type")
  div(ng-switch-when="confidential")
    esn-avatar-list.visible-xs(members="ctrl.members", limit='5')
    esn-avatar-list.hidden-xs(members="ctrl.members", limit='5', profile-link="chat.channels-views.member({memberId: member.id})")
    h4 #{__('This is the beginning of the conversation with')} 
      span.visible-xs(ng-repeat="member in ctrl.members |orderBy:'-member.memberName' ", ui-sref="profile({user_id: member.id})")
      span.hidden-xs(ng-repeat="member in ctrl.members |orderBy:'-member.memberName' ", ui-sref="chat.channels-views.member({memberId: member.id})")
        span.name-seperator(ng-if="!$first && !$last") ,
        span.and-seperator(ng-if="!$first && $last") #{__('and')}
        span.name.clickable {{member.memberName}}
  h4(ng-switch-when="open") #{__('Beginning of')}
    span.space-separator(ng-bind-html="ctrl.name | esnEmoticonify:{ class: 'label-emoji' }")
  h5  
    span #{__('created on')} {{::ctrl.conversation.timestamps.creation | esnDatetime: 'mediumDate'}}
    span.space-separator(ng-if="ctrl.creator") #{__('by')} 
    span.name.capitalize.clickable(ng-bind-html="ctrl.creator",ui-sref="profile({user_id: ctrl.conversation.creator})") 
