.conversation-shared-files
  .shared-files.clickable(ng-click='ctrl.toggleDisplayAttachment()')
    .shared-files-information
      i.mdi.mdi-file-outline.file-icon
      span #{__('Shared files')}
    .chevron
      i(ng-class="ctrl.displayAttachments ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-right'")
  .attachment-list(ng-repeat="attachment in ctrl.attachments", ng-if="ctrl.attachments.length > 0 && ctrl.displayAttachments")
    .meta.ellipsis
      user-profile-link(user="attachment.creator")
    span.date {{::attachment.date | esnDatetime:'fullDate'}}
    esn-attachment(attachment="attachment")
  .attachment-list-empty(ng-if="!ctrl.attachments.length && ctrl.displayAttachments")
    i.mdi.mdi-file-outline
    .message #{__("No attachments")}
  .show-more.clickable.hidden-xs(ng-if="ctrl.displayAttachments && ctrl.attachments.length", ui-sref="chat.channels-views.attachments({conversation: ctrl.conversation})") #{__('Show more')}...
  .show-more.clickable.hidden-md(ng-if="ctrl.displayAttachments && ctrl.attachments.length", title=__('Show attachments'), contextual-sidebar, data-content-template="/chat/app/conversation/sidebar/attachments/conversation-sidebar-attachments-list.html", data-placement="right", data-controller="ChatConversationSidebarAttachmentsListController", data-controller-as="ctrl") #{__('Show more')}...
