sub-header
  chat-conversation-create-subheader(create="ctrl.create()", form="createChannelForm")

.block-header.visible-md
  h2 #{__('Create a new channel')}
.chat-conversation-create.configuration.card
  form(name="createChannelForm", esn-submit="ctrl.create()")
    .form-group.fg-line
      .field-name #{__('Name')}
      input.form-control(ng-model="ctrl.conversation.name", placeholder="#{__('Enter the channel name')}", auto-focus, required)
    .form-group.fg-line
      .field-name #{__('Topic')}
      input.form-control(ng-model="ctrl.conversation.topic", placeholder="#{__('Add topic')}")
    .form-group.fg-line
      .field-name #{__('Purpose')}
      input.form-control(ng-model="ctrl.conversation.purpose", placeholder="#{__('Add purpose')}")
